<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/admin/smartui/img/logo.png">
    <link rel="stylesheet" type="text/css" href="/static/echart/echartedit/main.css">
    <title>SmartChart Editor</title>
        <script type="text/javascript">
        window.EC_DEMO_LANG = 'zh';
    </script>
    <script type="text/javascript" src="/static/ace/ace.js"></script>
    <script src="/static/ace/mode-javascript.js"></script>
</head>

<body>

    <div id="main-container">
        <div id="code-container" style="width: 40%;">
            <div id="control-panel">
                <div id="code-info"><span class="code-info-time"></span><span class="code-info-type-info"></span></div>
                <div class="control-btn-panel">{{editormenu|safe}}
                    <a href="javascript:;" onclick="disposeAndRun()" class="btn btn-default btn-sm">运行</a></div>
            </div>
            <div id="code-panel" class=" ace_editor ace-tm"><textarea class="ace_text-input" wrap="off" autocorrect="off" autocapitalize="off" spellcheck="false" style="opacity: 0; height: 14px; width: 6.59781px; left: 51px; top: 0px;"></textarea>
                <div class="ace_gutter">
                    <div class="ace_layer ace_gutter-layer ace_folding-enabled" style="margin-top: 0px; height: 560px; width: 47px;">
                        <div class="ace_gutter-cell " style="height: 14px;">1<span class="ace_fold-widget ace_start ace_open" style="height: 14px;"></span></div>

                    </div>
                    <div class="ace_gutter-active-line" style="top: 0px; height: 14px;"></div>
                </div>
                <div class="ace_scroller" style="left: 47px; right: 0px; bottom: 0px;">
                    <div class="ace_content" style="margin-top: 0px; width: 499px; height: 560px; margin-left: 0px;">
                        <div class="ace_layer ace_print-margin-layer">
                            <div class="ace_print-margin" style="left: 531.825px; visibility: visible;"></div>
                        </div>
                        <div class="ace_layer ace_marker-layer">
                            <div class="ace_active-line" style="height:14px;top:0px;left:0;right:0;"></div>
                        </div>
                        <div class="ace_layer ace_text-layer" style="padding: 0px 4px;">
                            <div class="ace_line" style="height:14px"><span class="ace_identifier">option</span> <span class="ace_keyword ace_operator">=</span> <span class="ace_paren ace_lparen">{</span></div>

                        </div>
                        <div class="ace_layer ace_marker-layer"></div>
                        <div class="ace_layer ace_cursor-layer ace_hidden-cursors">
                            <div class="ace_cursor" style="left: 4px; top: 0px; width: 6.59781px; height: 14px;"></div>
                        </div>
                    </div>
                </div>
                <div class="ace_scrollbar ace_scrollbar-v" style="display: none; width: 22px; bottom: 0px;">
                    <div class="ace_scrollbar-inner" style="width: 22px; height: 224px;"></div>
                </div>
                <div class="ace_scrollbar ace_scrollbar-h" style="display: none; height: 22px; left: 47px; right: 0px;">
                    <div class="ace_scrollbar-inner" style="height: 22px; width: 546px;"></div>
                </div>
                <div style="height: auto; width: auto; top: 0px; left: 0px; visibility: hidden; position: absolute; white-space: pre; font: inherit; overflow: hidden;">
                    <div style="height: auto; width: auto; top: 0px; left: 0px; visibility: hidden; position: absolute; white-space: pre; font: inherit; overflow: visible;"></div>
                    <div style="height: auto; width: auto; top: 0px; left: 0px; visibility: hidden; position: absolute; white-space: pre; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; overflow: visible;"></div>
                </div>
            </div>

        </div>
        <div id="h-handler" class="handler" style="left: 40%;"></div>
        <div class="right-container" style="width: 60%; left: 40%;">
            <div id="chart-panel" class="right-panel" _echarts_instance_="ec_1571702048137" style="-webkit-tap-highlight-color: transparent; user-select: none;">
                <div style="position: relative; overflow: hidden; width: 800px; height: 492px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas data-zr-dom-id="zr_0" width="800" height="492" style="position: absolute; left: 0px; top: 0px; width: 800px; height: 492px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div>
            </div>
           <div id="tool-panel"><div id="printlog"></div><a id="code-toggle-button" style="color: #1d2124; font-size: 16px;" href="#" class="glyphicon glyphicon-transfer"> </a><a id="save" style="color: #c0a16b; font-size: 16px;" href="#" class="glyphicon glyphicon-save">保存</a><a id="saveoutside" style="color: #856404; font-size: 16px;" href="#" class="glyphicon glyphicon-cloud-upload"></a>
            <span><a href="https://www.smartchart.cn" target="_blank">© SmartChart.cn</a> </span>
                <div id="theme"><a title="" class="default selected" data-original-title="default"><span></span></a><a title="" class="light" data-original-title="light"><span></span></a><a title="" class="dark" data-original-title="dark"><span></span></a></div></div>
        </div>
    </div>
<script src="/static/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="/static/echart/dist/echarts.min.js"></script>
<script type="text/javascript" src="/static/echart/dist/china.js"></script>
<script type="text/javascript" src="/static/echart/dist/world.js"></script>
<script src="/static/js/fun.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/echart/echartedit/lodash.js"></script>
<script type="text/javascript" src="/static/ace/snippets/javascript.js"></script>
<script type="text/javascript" src="/static/ace/ext-language_tools.js"></script>
<script type="text/javascript" src="/static/echart/echartedit/editor_min.js"></script>
<script type="text/javascript" src="https://www.smartchart.cn/static/editor/smartserver.js"></script>
<script>{{chartinit|safe}}</script>
</body>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
</html>