<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-title" content="SmartChart">
    <link rel="icon" type="image.png" href="/static/images/favicon.ico">
    <title>SmartChart</title>
<link href="/static/index/all.min.css" rel="stylesheet">
    <link rel="stylesheet" media="all" href="/static/index/web20201030.css">
    <link rel="stylesheet" media="all" href="/static/index/entry20200609.css">
    <link rel='stylesheet prefetch' href='/static/index/normalize20200609.css'>
    <link rel="stylesheet" href="/static/index/style20201030.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="/static/index/dialog.css" media="screen" type="text/css" />

    <style type="text/css">
    .nav_end {
        float: right;
        height: 55px;
        padding: 15px 0px;
        margin: 0 12px;
    }
    .head_icon {
        color:#606266;
    }
    .head_icon :hover {
        color: red;
    }
    .ct {
        color: #00A000;
    }
    input::-webkit-calendar-picker-indicator{ display: none; -webkit-appearance: none; }
    #auto_div
        {
            display: none;
            width: 300px;
            border: 1px #74c0f9 solid;
            background: #FFF;
            position: absolute;
            top: 40px;
            left: 0;
            color: #323232;
        }
    iframe{padding: 0;margin: 0;}
    </style>

    <script src="/static/js/jquery-2.2.3.min.js"></script>
    <script src="/static/index/dialog.js"></script>
    <script src="/static/index/index_d.js"></script>
</head>

<body lang="zh-CN" class="reader-black-font" style="overflow-y: scroll;">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="smart_head">
        <div >
            <a class="logo" href="https://gitee.com/smartchart/smartchart"><img src="/static/index/logo8.png" alt="smartchart logo"></a>
            <div class="nav_end">
                <span class="head_icon" id="devchange" onclick="reset_dev()"><small><i class="fas fa-user"></i>{{user}}</small></span>
                <a class="head_icon" href="/echart/init_db/" title="同步升级" ><small><i class="fab fa-jsfiddle"></i></small></a>
                <a class="head_icon" id="iframe-heart" onclick="make_love()" title="收藏" ><small><i class="fas fa-heart"></i></small></a>
                <a class="head_icon" id="iframe-full" onclick="requestFullScreen()" title="全屏" ><small><i class="fas fa-expand"></i></small></a>
                <a class="head_icon" id="iframe-refresh" onclick="refreshFrame()" title="刷新"><small><i class="fas fa-sync-alt"></i></small></a>
                <a class="head_icon" id="iframe-message" onclick="report_msg()" title="留言"><small><i class="fab fa-rocketchat"></i></small></a>
                <a class="head_icon" id="iframe-edit" title="编辑" onclick="reset_dev()"><small><i class="fas fa-edit"></i></small></a>|
                <a class="head_icon" title="帮助" onclick="help()"><small><i class="fas fa-question-circle"></i></small></a>
                <a  href="/echart/logout" title="退出"><small><i class="fas fa-sign-out-alt"></i></small></a>
                <a  href="javascript:changelayout();" title="切换可视区"><img src="/static/images/change.png" style="height: 25px;"></a>
            </div>
            <div >
      <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav">  <li class="tab active">
<a  class="menu-text" href="/admin">Admin</a>
</li>
<li class="tab">
<a class="menu-text" href="https://www.smartchart.cn">SmartChart社区</a>
</li>
                        <li class="search">
                            <form action="javascript:refresh_index();" accept-charset="UTF-8" method="get">
                                <input name="utf8" type="hidden" value="✓">
                                <input type="text" name="q" id="id_title"  autocomplete="off" value=""  placeholder="Search" class="search-input">
                                <div id="auto_div"></div>
                                <a class="search-btn" href="javascript:refresh_index()"><i class="iconfont ic-search"></i></a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 col-sm-1 col-md-4" style="border-right:1px solid #f0f0f0;padding-top:10px" id="leftside">
                <nav id="nav_1">
                <ul class="mcd-menu" id="show_list">
                </ul></nav>
            </div>
            <div class="col-xs-22 col-sm-23 col-md-20" id="mainframe">
                <div class="col-xs-24 col-sm-16 col-sm-offset-1 main">
                    <ul class="note-list" id="tbshow_list">
                        <a class="load-more" href="#"><p>SmartChart</p><span class="fas fa-expand">全屏</span><span class="fas fa-sync-alt">刷新</span><span class="iconfont ic-list-like" title="加入收藏">关注</span><span class="fab fa-rocketchat">留言</span><hr><p>窗口显示报表: 点击左方菜单中项目名,显示报表列表后点击列表中链接</p><p>右方显示报表: 左方菜单中滑动选择报表后点击 或 上方搜索选择随机报表后点击查询</p></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!--<p>&copy;powered by smartchart.cn,Designed by JohnYan mailto:84345999@qq.com, https://gitee.com/smartchart/smartchart</p>-->
</body>
</html>