[Unit]
Description=Smartchart
After=syslog.target
[Install]
WantedBy=multi-user.target
[Service]
WorkingDirectory=$MAGICCUBE_HOME
ExecStart=uwsgi --ini $MAGICCUBE_HOME/deploy/uwsgi.ini
User=smartchart
Restart=always
StandardError=syslog