@charset "UTF-8";
@-webkit-keyframes fadeInNoTransform {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInNoTransform {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInNoTransform {
  -webkit-animation-name: fadeInNoTransform;
  animation-name: fadeInNoTransform;
}

@-webkit-keyframes fadeOutNoTransform {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOutNoTransform {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOutNoTransform {
  -webkit-animation-name: fadeOutNoTransform;
  animation-name: fadeOutNoTransform;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 20px, 0);
    -ms-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeOutDown {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }
}
@keyframes fadeOutDown {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 20px, 0);
    -ms-transform: translate3d(-50%, 20px, 0);
    transform: translate3d(-50%, 20px, 0);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -40px, 0);
    transform: translate3d(-50%, -40px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -40px, 0);
    -ms-transform: translate3d(-50%, -40px, 0);
    transform: translate3d(-50%, -40px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


.txt-color-666 {
  color: #666 !important;
}

.txt-textOneRow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.txt-textTwoRow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cpt_mask_dailog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: '微软雅黑','Microsoft Yahei';
  z-index: 1000002;
  animation-duration: 0.6s;
}
.cpt_mask_dailog .div_dailog {
  position: fixed;
  left: 50%;
  top: 50%;
  min-width: 240px;
  min-height: 130px;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -moz-box-shadow: 0 3px 10px #aaa;
  -webkit-box-shadow: 0 3px 10px #aaa;
  box-shadow: 0 3px 10px #aaa;
}
.cpt_mask_dailog .div_dailog.no_boxShadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cpt_mask_dailog .div_dailog .title_dailog {
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0;
  height: 40px;
}
.cpt_mask_dailog .div_dailog .discription_dailog {
  padding: 14px 0 10px 0;
  font-size: 14px;
  text-indent: 16px;
  line-height: 1.6;
}
.cpt_mask_dailog .div_dailog .discription_dailog .dailog_input {
  height: 28px;
  width: 98%;
  margin: 0 auto;
  outline: none;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #aaa;
}
.cpt_mask_dailog .div_dailog .discription_dailog .dailog_input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #a1a1a1;
}
.cpt_mask_dailog .div_dailog .discription_dailog .dailog_input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a1a1a1;
}
.cpt_mask_dailog .div_dailog .discription_dailog .dailog_input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a1a1a1;
}
.cpt_mask_dailog .div_dailog .discription_dailog .dailog_input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #a1a1a1;
}
.cpt_mask_dailog .div_dailog .dailog_divOperation {
  display: -webkit-flex;
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 3px 2px;
  justify-content: flex-end;
  float: right;
  height: 36px;
}
.cpt_mask_dailog .div_dailog .dailog_divOperation .btn_span {
  padding: 6px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  line-height: normal;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.cpt_mask_dailog .div_dailog .dailog_divOperation .btn_span:first-child {
  margin-right: 10px;
}
.cpt_mask_dailog.primary .div_dailog {
  -moz-box-shadow: 0px 0px 3px 0px #4D96DF;
  -webkit-box-shadow: 0px 0px 3px 0px #4D96DF;
  box-shadow: 0px 0px 3px 0px #4D96DF;
}
.cpt_mask_dailog.primary .div_dailog.no_boxShadow {
  -moz-box-shadow: 0px 0px 0px 0px #fff;
  -webkit-box-shadow: 0px 0px 0px 0px #fff;
  box-shadow: 0px 0px 0px 0px #fff;
}
.cpt_mask_dailog.primary .title_dailog {
  color: #588CD2;
  border-bottom: 1px dashed #4D96DF;
}
.cpt_mask_dailog.primary .discription_dailog {
  color: #313234;
}
.cpt_mask_dailog.primary .dailog_divOperation .btn_span {
  color: #fff;
  background: #4D96DF;
}
.cpt_mask_dailog.primary .dailog_divOperation .btn_span:hover {
  background: #4684C3;
}
.cpt_mask_dailog.primary .dailog_divOperation .btn_span.no_bg {
  background: #fff;
  color: #333;
}
.cpt_mask_dailog.success .div_dailog {
  -moz-box-shadow: 0px 0px 3px 0px #21B384;
  -webkit-box-shadow: 0px 0px 3px 0px #21B384;
  box-shadow: 0px 0px 3px 0px #21B384;
}
.cpt_mask_dailog.success .div_dailog.no_boxShadow {
  -moz-box-shadow: 0px 0px 0px 0px #fff;
  -webkit-box-shadow: 0px 0px 0px 0px #fff;
  box-shadow: 0px 0px 0px 0px #fff;
}
.cpt_mask_dailog.success .title_dailog {
  color: #6EB279;
  border-bottom: 1px dashed #21B384;
}
.cpt_mask_dailog.success .discription_dailog {
  color: #283528;
}
.cpt_mask_dailog.success .dailog_divOperation .btn_span {
  color: #fff;
  background: #21B384;
}
.cpt_mask_dailog.success .dailog_divOperation .btn_span:hover {
  background: #28A47C;
}
.cpt_mask_dailog.success .dailog_divOperation .btn_span.no_bg {
  background: #fff;
  color: #333;
}
.cpt_mask_dailog.danger .div_dailog {
  -moz-box-shadow: 0px 0px 3px 0px #D9534F;
  -webkit-box-shadow: 0px 0px 3px 0px #D9534F;
  box-shadow: 0px 0px 3px 0px #D9534F;
}
.cpt_mask_dailog.danger .div_dailog.no_boxShadow {
  -moz-box-shadow: 0px 0px 0px 0px #fff;
  -webkit-box-shadow: 0px 0px 0px 0px #fff;
  box-shadow: 0px 0px 0px 0px #fff;
}
.cpt_mask_dailog.danger .title_dailog {
  color: #C54D54;
  border-bottom: 1px dashed #D9534F;
}

.cpt_mask_dailog.danger .discription_dailog {
  color: #4F3536;
}
.cpt_mask_dailog.danger .dailog_divOperation .btn_span {
  color: #fff;
  background: #D9534F;
}
.cpt_mask_dailog.danger .dailog_divOperation .btn_span:hover {
  background: #C74743;
}
.cpt_mask_dailog.danger .dailog_divOperation .btn_span.no_bg {
  background: #fff;
  color: #333;
}
.cpt_mask_dailog.warning .div_dailog {
  -moz-box-shadow: 0px 0px 3px 0px #FFBD7A;
  -webkit-box-shadow: 0px 0px 3px 0px #FFBD7A;
  box-shadow: 0px 0px 3px 0px #FFBD7A;
}
.cpt_mask_dailog.warning .div_dailog.no_boxShadow {
  -moz-box-shadow: 0px 0px 0px 0px #fff;
  -webkit-box-shadow: 0px 0px 0px 0px #fff;
  box-shadow: 0px 0px 0px 0px #fff;
}
.cpt_mask_dailog.warning .title_dailog {
  color: #FFBD7A;
  border-bottom: 1px dashed #FFBD7A;
}
.cpt_mask_dailog.warning .discription_dailog {
  color: #4F3536;
}
.cpt_mask_dailog.warning .dailog_divOperation .btn_span {
  color: #fff;
  background: #FFBD7A;
}
.cpt_mask_dailog.warning .dailog_divOperation .btn_span:hover {
  background: #F0AF6D;
}
.cpt_mask_dailog.warning .dailog_divOperation .btn_span.no_bg {
  background: #fff;
  color: #333;
}
